.progress-bar {
    -webkit-transition: none;
    -moz-transition: none;
    -ms-transition: none;
    -o-transition: none;
    transition: none;
}​

.DTTT_container, #ToolTables_table-results_0 {
	margin-left: 1em !important;
}

#submit_count {
	margin-top: 1em;
}

#table-results_wrapper {
	display: none;
}


tr .remove-word {
	display:none;
}

tr:hover .remove-word {
	display:inline;
	margin-right:10px;
}

td:first-child {
	padding-left: 34px !important;
}

tr:hover td:first-child {
	padding-left: 0px !important;
}

#button-about {
	cursor: pointer;
}
